$base-border: 1px solid rgba($color: #000000, $alpha: 0.1);

.feed:first-child {
    margin-top: 150px;
}

.feed:nth-child(2) {
   @media(max-width:1000px){
    margin-top: 107px;
   }
    
}

.feed:last-child {
    margin-bottom: 106px;
}

.feed {
    display: grid;
    grid-template-columns: 12% 88%;
    padding: 0 30px;
    border-bottom: $base-border;
    
    @media(min-width:1000px) {
        border-left: $base-border;
        border-right: $base-border;
    }
}

.feed__img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: -5px;

    @media(min-width:1000px) {
        width: 60px;
        height: 60px;
    }
}

.feed__top {
    display: grid;
    grid-template-columns: 30% 60% 1fr;
}

.feed__name {
    font-size: 27px;
    font-weight: 450;
    margin-top: 25px;

    @media(min-width:1000px) {
        font-size: 18px;
    }    
}

.feed__user {
    font-size: 27px;
    color: rgba($color: #000000, $alpha: 0.8);
    font-weight: normal;
    margin-top: 25px;

    @media(min-width:1000px) {
        font-size: 18px;
    }    
}

.feed__more {
    width: 30px;
    height: 30px;
    margin-left: auto;
    align-self: center;
    margin-top: 25px;

    @media(min-width:1000px) {
        width: 20px;
        height: 20px;
    }    
}

.feed__feed h2 {
    font-weight: normal;
    margin-top: 5px;
    font-size: 23px;

    @media(min-width:1000px) {
        font-size: 15px;
    }    
}

.feed__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 14%;
    margin-top: 30px;
    margin-bottom: 15px;  
}

.feed__bottom--right {
    margin-left: auto;

    @media(min-width:1000px) {
        width: 25px;
    }
}

.feed__botom--resize {
    @media(min-width:1000px){
        width: 25px;
    }
}

.thefeed__user--img-resize {
    display: none;

    @media(min-width:1000px) {
        display: inline;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: -5px;
        margin-top: 12px;
    }
}

.thefeed__writepost {
    display: none;
    grid-template-columns: 10% 90%;
    padding: 0 30px;
    border: $base-border;
    border-top: none;
    margin-top: 55px;
    height: 160px;

    @media(min-width:1000px) {
        display: grid;
    }
}

.thefeed__h1 {
    display: none;
    margin-top: 30px;
    padding-left: 18px;
    font-size: 24px;
    font-weight: normal;
    color: rgba($color: #000000, $alpha: 0.6);

    @media(min-width: 1000px) {
        display: block;
    }

}

.thefeed__icons-writepost {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 7fr;
    margin-top: 35px;
    margin-left: 15px;
}

.thefeed__words-item {
    width: 30px;
    align-self: center;
}

.thefeed__words-item-resize {
    border-radius: 45px;
    margin-left: auto;
    width: 110px;
    height: auto;

}
