@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1000px) {
  .allcontent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8% 59.5% 32.5%;
        grid-template-columns: 8% 59.5% 32.5%;
  }
}

.c-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12% 76% 12%;
      grid-template-columns: 12% 76% 12%;
  padding: 0 30px;
  margin: 0 auto;
  height: 106px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

@media (min-width: 1000px) {
  .c-header {
    -ms-grid-columns: 85% 15%;
        grid-template-columns: 85% 15%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 59.5%;
    height: 55px;
  }
}

.c-header__img-size {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.c-header__img-size--center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1000px) {
  .c-header__img-size--center {
    display: none;
  }
}

.c-header__item--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  font-weight: bold;
}

@media (min-width: 1000px) {
  .c-header__item--home {
    font-size: 20px;
  }
}

.c-header__img-size--right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-right: 0;
  margin-left: 60%;
  width: 42px;
  height: 42px;
}

@media (min-width: 1000px) {
  .c-header__img-size--right {
    width: 26px;
    height: 26px;
  }
}

.barralateral__content {
  display: none;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  height: 800px;
}

@media (min-width: 1000px) {
  .barralateral__content {
    display: -ms-grid;
    display: grid;
  }
}

.barralateral__icons {
  display: none;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100px;
  height: 100px;
  display: none;
}

@media (min-width: 1000px) {
  .barralateral__icons {
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 1000px) {
  .barralateral__content {
    position: fixed;
  }
}

.barralateral__icons img {
  width: 30px;
  height: 30px;
  margin: 10px 30px;
}

.barralateral__icons img.barralateral--img-resize {
  margin-top: 15px;
  width: 30px;
  height: 26px;
}

.barralateral__icons img.barralateral--img-newborder {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px 20px;
}

.barralateral__user--resize {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 25px;
}

.feed:first-child {
  margin-top: 150px;
}

@media (max-width: 1000px) {
  .feed:nth-child(2) {
    margin-top: 107px;
  }
}

.feed:last-child {
  margin-bottom: 106px;
}

.feed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12% 88%;
      grid-template-columns: 12% 88%;
  padding: 0 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 1000px) {
  .feed {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.feed__img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: -5px;
}

@media (min-width: 1000px) {
  .feed__img {
    width: 60px;
    height: 60px;
  }
}

.feed__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 1fr;
      grid-template-columns: 30% 60% 1fr;
}

.feed__name {
  font-size: 27px;
  font-weight: 450;
  margin-top: 25px;
}

@media (min-width: 1000px) {
  .feed__name {
    font-size: 18px;
  }
}

.feed__user {
  font-size: 27px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  margin-top: 25px;
}

@media (min-width: 1000px) {
  .feed__user {
    font-size: 18px;
  }
}

.feed__more {
  width: 30px;
  height: 30px;
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 25px;
}

@media (min-width: 1000px) {
  .feed__more {
    width: 20px;
    height: 20px;
  }
}

.feed__feed h2 {
  font-weight: normal;
  margin-top: 5px;
  font-size: 23px;
}

@media (min-width: 1000px) {
  .feed__feed h2 {
    font-size: 15px;
  }
}

.feed__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 14%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.feed__bottom--right {
  margin-left: auto;
}

@media (min-width: 1000px) {
  .feed__bottom--right {
    width: 25px;
  }
}

@media (min-width: 1000px) {
  .feed__botom--resize {
    width: 25px;
  }
}

.thefeed__user--img-resize {
  display: none;
}

@media (min-width: 1000px) {
  .thefeed__user--img-resize {
    display: inline;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: -5px;
    margin-top: 12px;
  }
}

.thefeed__writepost {
  display: none;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  padding: 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  margin-top: 55px;
  height: 160px;
}

@media (min-width: 1000px) {
  .thefeed__writepost {
    display: -ms-grid;
    display: grid;
  }
}

.thefeed__h1 {
  display: none;
  margin-top: 30px;
  padding-left: 18px;
  font-size: 24px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 1000px) {
  .thefeed__h1 {
    display: block;
  }
}

.thefeed__icons-writepost {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 7fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 7fr;
  margin-top: 35px;
  margin-left: 15px;
}

.thefeed__words-item {
  width: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.thefeed__words-item-resize {
  border-radius: 45px;
  margin-left: auto;
  width: 110px;
  height: auto;
}

.c-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 106px;
  min-height: 106px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

@media (min-width: 1000px) {
  .c-footer {
    display: none;
  }
}

.c-footer__item {
  width: 54px;
  height: 54px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.newpost {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: fixed;
  right: 47px;
  bottom: 170px;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .newpost {
    display: none;
  }
}

.rightbar {
  display: none;
}

@media (min-width: 1000px) {
  .rightbar {
    display: inline-block;
  }
}

.rightbar__search1 {
  position: fixed;
  width: 33%;
  background-color: white;
  max-width: 535px;
}

.rightbar__search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  background-color: #f3f3f3;
  border-radius: 25px;
  margin: 5px auto;
  height: 44px;
  width: 90%;
}

.rightbar__search img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rightbar__search input {
  background-color: #f3f3f3;
  border-radius: 25px;
  font-size: 15px;
  outline: none;
}

.rightbar__title {
  width: 90%;
  margin: 0 auto;
  background-color: #f3f3f3;
  margin-top: 65px;
  border-radius: 25px 25px 0 0;
}

.rightbar__title--margin {
  margin-top: 30px;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 20px;
}

.rightbar__title--marginandbot {
  margin-bottom: 30px;
}

.rightbar__news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #f3f3f3;
  width: 90%;
  margin: 0 auto;
}

.rightbar__news img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 20px;
}

.rightbar__news .rightbar__text {
  margin-top: 20px;
  margin-left: 15px;
}

.rightbar__text--grey {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.rightbar__text--bold {
  font-weight: 500;
  margin-top: 5px;
}

.rightbar__news2 {
  background-color: #f3f3f3;
  width: 90%;
  margin: 0 auto;
}

.rightbar__new2--resize {
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}

.rightbar__new2--grey {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  width: 90%;
  margin: 0 auto;
}

.rightbar__new2--litle {
  font-size: 14px;
}

.rightbar__news3 {
  width: 90%;
  background-color: #f3f3f3;
  margin: 0 auto;
}

.rightbar__new3 {
  padding-top: 30px;
  margin-left: 15px;
}

.rightbar__new3--resize {
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.rightbar__new3--black {
  font-size: 15px;
}

.rightbar__showmore {
  background-color: #f3f3f3;
  width: 90%;
  margin: 0 auto;
  border-radius: 0 0 25px 25px;
}

.rightbar__showmorecontent {
  margin-left: 15px;
  padding: 30px 0;
}

.rightbar__showmorecontent a {
  text-decoration: none;
  color: #2e90e0;
}

.rightbar__whofollow {
  width: 90%;
  margin: 0 auto;
  background-color: #f3f3f3;
  border-radius: 25px;
}

.rightbar__follow-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.rightbar__follow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  margin-left: 15px;
  margin-bottom: 20px;
  max-width: 300px;
}

.rightbar__follow:last-child {
  margin-bottom: 0px;
}

.rightbar__follow-infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.rightbar__box1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rightbar__box1 h2 {
  font-size: 16px;
}

.rightbar__box1 p {
  color: rgba(0, 0, 0, 0.7);
}

.rightbar__box2 button {
  padding: 10px 25px;
  background-color: black;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
}

.rightbar__terms {
  width: 90%;
  margin: 0 auto;
}

.rightbar__terms-content {
  margin-left: 15px;
}

.rightbar__term1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38% 30% 32%;
      grid-template-columns: 38% 30% 32%;
  font-size: 13px;
  color: #536471;
  margin-bottom: 4px;
  cursor: pointer;
}

.rightbar__term1 p:hover {
  text-decoration: underline;
}

.rightbar__term2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 31% 20% 1fr 1fr;
      grid-template-columns: 31% 20% 1fr 1fr;
  font-size: 13px;
  color: #536471;
  margin-bottom: 4px;
  cursor: pointer;
}

.rightbar__term2 p:hover {
  text-decoration: underline;
}

.rightbar__term3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 13px;
  color: #536471;
  margin-bottom: 30px;
  cursor: pointer;
}

.rightbar__term3 p:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */